
.Admin {
    text-align: center;
    background-image: url(../assets/img/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.tableHeader{
  background-color: var(--ss-main);
  color: white;
  border-radius: 0.5rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  text-align: center;
  padding: 1.5rem;
  font-size: 40px;
  width: 20rem;
  display: inline-block;
}

.tableBorder {
  background-color: var(--ss-table);
  width: 94vw;
  display: inline-block;
  padding-top: 1rem;
  border-radius: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
  box-shadow: 0 15px 50px rgb(27, 27, 27, 0.2);
}

.tableHeaderWrapper{
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  background: var(--ss-lightest);
  color: black;
  padding: 1.5rem;
  border-radius: 0.5rem;
  text-align: left;
  width: 23rem;
  box-shadow: 0 15px 50px rgb(27, 27, 27, 0.2);
}

.tableWrapper{
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  background: var(--ss-lightest);
  color: black;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: left;
  width: 30rem;
}