
.formWrapper{
  display: flex;
  flex-flow: column;
  margin: 2rem auto;
  background: #ececec;
  color: black;
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: left;
  width: 30rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
