.footerLogo {
  width: 6rem;
  margin-top: 10px;
}

.footer {
  background-color: var(--ss-gray);
  height: 12rem;
  text-align: center;
  padding: 10px 20px;
}

.footerDescription{
  font-family: Poppins;
  color: #777777;
  margin: 0;
}

.footerSS{
  font-family: Poppins;
  color: #777777;
  margin: 0;
}