.footerLogo {
  width: 7.5rem;
}

.footer {
  background-color: var(--ss-gray);
  height: 14rem;
  border-bottom: 8px solid var(--ss-table);
  text-align: center;
  padding: 41px 20px 0rem 20px;
}

.footerDescription{
  font-family: Poppins;
  color: #777777;
  margin: 0;
}

.footerSS{
  font-family: Poppins;
  color: #777777;
  margin: 0;
  margin-top: -23px;
}