.header {    
    display: flex;
    justify-content: space-between;
    background-color: var(--ss-gray);
    border-top: 8px solid var(--ss-table);
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
    height: 6rem;
    padding: 10px 20px;
    z-index: 2;
}

.headerLogo {
    width: 12rem;
    height: 53.8px;
    margin-top: 10px;
    margin-left: 25px;
}

.socialIcons{
  text-align: center;
  margin-top: -5px;
  margin-right: 25px;
}

.socialIcons a{
  display: inline-block;
  height: 60px;
  width: 60px;
  margin: 10px;
}

.facebookIcon{
  background-image: url(../assets/img/icons/facebook.png);  
  background-size: cover;
  background-repeat: no-repeat;
}

.instaIcon{
  background-image: url(../assets/img/icons/instagram.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.twitterIcon{
  background-image: url(../assets/img/icons/twitter.png);
  background-size: cover;
  background-repeat: no-repeat;
}

@media all and (max-width: 500px) {
  .headerLogo {
    margin-left: 0;
  }
  .socialIcons{
    margin-right: 0;
  }
}

@media all and (max-width: 450px) {
  .socialIcons{
    margin-right: -10px;
    margin-top: 15px;
  }
  .socialIcons a{
    height: 40px;
    width: 40px;
    margin: 3px;
  }
}
