.Home{
    z-index: 0;
}

.formWrapper{
    display: flex;
    flex-flow: column;
    margin: 2rem auto;
    background: var(--ss-lightest);
    color: black;
    padding: 2rem;
    border-radius: 20px;
    text-align: left;
    width: 30rem;
    box-shadow: 0 15px 50px rgba(226,160,37,.5);
}

.tagline{
    align-content: center;
}

.tagline h2{
    font-family: Poppins;
    font-weight: 700;
    font-size: 27px;
    margin-bottom: 3rem;
}

.signUpBanner{
    display: grid;
    grid-template-columns: 40rem 1fr;
    background-image: url(../assets/img/stock/couple3.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.column1{
    width: 100%;
    padding-left: 8rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.column2{
    width: 100%;    
}