:root {
  /* My Colors */
  /* --ss-main: #ce3e83;
  --ss-dark: #cd3542;
  --ss-gray: #ececec;
  --ss-table: #820d45; */
  --ss-main: #D599FF;
  --ss-dark:#C297FF;
  --ss-light: #DCC6FF;
  --ss-lightest: #F4DDFF;
  --ss-gray: #ffffff;
  --ss-table: #543886;
  }