.p-datatable {
  display: inline-block;
  width: 90vw;
}

body .p-button{
  background-color: var(--ss-main) !important;
  border: 1px solid var(--ss-main) !important;
}

body .p-paginator .p-highlight{
  background-color: var(--ss-main) !important;
}

.p-datatable-thead .p-highlight{
  background-color: var(--ss-main) !important;
}

@media all and (min-width: 1228px) {
  .p-datatable-row td {
    padding: 6px 27px !important;
  }
}


.locationWrap {
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0;
}

.locationWrap::after {
  content: '\25BC';
  position: absolute;
  top: 0.8rem;
  right: 0.7em;
  color: var(--ss-gray);
  font-size: 19px;
  pointer-events: none;
}  

.loaderWrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}