.ThankYou{
  z-index: 0;
  height: 50rem;
}

.taglineThankYou{
  align-content: center;
  margin: 0rem auto 4rem auto;
  width: 37rem;
  margin-top: 4rem;
  font-size: 4rem;
  color: #2b2b2b;
}

.taglineThankYou h2{
  font-family: Poppins;
  font-weight: 700;
  font-size: 27px;
  margin-bottom: 3rem;
  width: 33rem;
}

.thankYouBanner{
  display: grid;
  height: 100%;
  background-image: url(../assets/img/stock/eyeswideopen.jpeg);
  background-repeat: no-repeat;
  background-size: cover; 
}

@media all and (max-width: 1230px) {
  .taglineThankYou{
    font-size: 3rem;
    margin-left: 4rem;
  }
}

@media all and (max-width: 1085px) {
  .thankYouBanner{
    background-position: -7rem;
  }
}

@media all and (max-width: 972px) {
  .thankYouBanner{
    background-position: -17rem;
  }
  .taglineThankYou{
    font-size: 40px;
  }
}

@media all and (max-width: 810px) {
  .thankYouBanner{
    background-position: -22rem;
  }
  .taglineThankYou{
    font-size: 36px;
    width: 25rem;
  }
}

@media all and (max-width: 733px) {
  .ThankYou{
    height: 42rem;
  }
  .thankYouBanner{
    background-position: -16rem;
  }
  .taglineThankYou{
    font-size: 30px;
  }
}

@media all and (max-width: 670px) {
  .ThankYou {
    height: 36rem;
  }
  .thankYouBanner{
    background-position: -12rem;
  }
  .taglineThankYou {
    font-size: 25px;
    width: 18rem;
    margin-left: 2rem;
  }
}

@media all and (max-width: 590px) {
  .thankYouBanner{
    background-position: -16rem;
  }
}

@media all and (max-width: 527px) {
  .ThankYou {
    height: 33rem;
  }
  .thankYouBanner{
    background-position: -15rem;
  }
  .taglineThankYou {
    font-size: 22px;
  }
}

@media all and (max-width: 480px) {
  .ThankYou {
    height: 33rem;
  }
  .thankYouBanner{
    background-position: -15rem;
    grid-template-rows: 8rem 28rem;
    background-image: none;
  }
  .responsiveThankYou{
    display: grid;
    height: 100%;
    background-image: url(../assets/img/stock/eyeswideopen.jpeg);
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: -11rem;
  }
  .taglineThankYou {
    width: 100%;
    margin: 0;
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    text-align: center;
    font-size: 22px;
    background-image: url(../assets/img/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
  }
}

@media all and (max-width: 432px) {
  .ThankYou{
    height: 31rem;
  }
  .thankYouBanner{
    grid-template-rows: 8rem 1fr;
  }
  .responsiveThankYou{
    background-position: -8rem;
  }
}

@media all and (max-width: 400px) { 
  .responsiveThankYou{
    background-position: -10rem;
  }
  .taglineThankYou {
    font-size: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
