.credentialForm {
  font-weight: 700;
  font-size: 27px;
  display: flex;
  flex-flow: column;
  margin: auto;
  background: #fff;
  color: black;
  padding: 0rem;
  padding-top: 12px;
  border-radius: 0.5rem;
  text-align: center;
  width: 25rem;
}

.credentialForm div{
  width: 100%;
}

.formDetails{    
  font-size: 13px;
  font-weight: 300;
  color: #777777;
  width: 100%%;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 0;
}

.submitButton {
  font-family: Poppins;
  font-size: 20px;
  height: 3.5rem;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.5rem;
  align-self: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--ss-table);
  color: white;
  border: none;
}

.submitButton:hover {
  background-color: var(--ss-dark);
  color: white;
}


.credentialTitle {
  margin-left: 0;
  margin-bottom: 0.5rem;
  font-size: 1.7rem;
  font-weight: 400;
  margin-top: -1rem;
  padding: 0.5rem;
  align-self: center;
  border-style: none;
  color: black;
}

.firstNameInput, .lastNameInput, .partnerFirstNameInput, .partnerLastNameInput, .numberInput, .partnerNumberInput, .emailInput{
  width: 97.5%;
  margin-bottom: 0.7rem;
  margin-top: 0.3rem;
  border-radius: 5px;
  padding-left: 0.7rem;
  background-color: #ffffff;
}

.usernameIcon{
  width: 10px;
}


.usernameWrap{
  display: flex;
  align-items: center;
}

.locationSelect{
  width: 100%;
  color: #6f6f6f;
  height: 2.2rem;
  margin-bottom: 0.7rem;
  margin-top: 0.3rem;
  border-radius: 0px;
  padding-left: 0.7rem;
  background-color: #e8e8e8;
}

/* triangle */
.locationWrap {
  padding: 0;
  position: relative;
  z-index: 1;
  margin: 0;
}

.locationWrap::after {
  content: '\25BC';
  position: absolute;
  top: 0.8rem;
  right: 0.7em;
  color: #515151;
  font-size: 19px;
  pointer-events: none;
}

.loginPage {
  flex-direction: column;
  align-items: center;
}

.credentialDescription{
  font-size: 13px;
  margin-top: 0rem;
  align-self: center;
}

.nipsey{
  font-family: inherit;
  background: none;
  border: none;
  color: blue;
}

.circleLogo {
  width: 3rem;
}

#signupPasswordConfirmInputValue.credentialInput, #signupPasswordInputValue.credentialInput{
  width: 92%;
}

#signupPasswordConfirmInputValue.credentialInput{
  margin-left: 3%;
}

.passwordInputs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media all and (max-width: 709px) {
  .loginPage {
    flex-direction: column;
    align-items: center;
  }
  .loginForm {
    margin: 1rem;
    min-width: 12rem;
    max-width: 16rem;
  }
  .signupForm {
    margin: 1rem;
    min-width: 12rem;
    max-width: 16rem;
  }
}

@media all and (max-width: 610px) {
  .credentialForm {
    width: 75%;
  }
  
}

